@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap" rel="stylesheet');

html{
    font-family: 'League Spartan', sans-serif;
    
}

ul{
    list-style: none;
}

body{
    margin: 0%;
}

a{
    text-decoration: none;
}

.header-principal{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
}

.active-scroll{
    background-color: rgba(0, 0, 0, 0.712);
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin: 0 15px;
    margin-right: 30px;
}

.header-nav a{
    font-size: 1.5rem;
    font-weight: 700;
    transition: .5s;
    color: #fff;
}

.header-nav a:hover{
    color: rgb(0, 0, 0);
}

.header-title{
    font-size: 2.5rem;
}

.title{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(5, 73, 3, 0.349)),
    url(Experiencia_Bem-Estar_6.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}   

.sub-title{
    margin-bottom: 2rem;
    font-size: 5vmin;
}

.title-text{
    font-size: 3vmin;
}

.planos{
    width: 50%;
    min-height: 100vh;
    margin: 20px auto;
    padding: 80px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 325px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.planos-second{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-planos{
    margin-top: 30px;
    text-align: center;
}

.planos-second img{
    width: 80%;
    transition: .5s;
}

.planos-second img:hover{
    transform: scale(1.1);
}

.img-planos h3{
    font-size: 35px;
}

.img-planos p{
    font-size: 20px;
    margin-bottom: 35px;
}

.bnt{
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    padding: 12px 40px;
    border-radius: 70px;
    font-size: 2.5vmim;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.bnt:hover{
    color: #000;
    background-color: transparent;
    border-color: #000;
}